img {
    @media (max-width: 700px) {
        max-width: 100%;
        height: auto;

    }
}

main {
    display: grid;
    width: 100%;
    max-width: 100%;




    .introSection {
        width: 90%;
        max-width: 100%;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        justify-self: center;

        .headlines {
            grid-column: span 2;
            grid-row: 1;
            grid-template-rows: repeat(1fr, auto);
            margin-top: 1em;

            @media (max-width: 700px) {

                grid-column: span 3;
                grid-row: 1;
            }

        }


        .code-img {
            grid-column: 2/4;
            overflow: hidden;
            grid-row: 2/5;
        }

        .profile-img {
            grid-column: 3;
        }

        // .intro-div{
        //     grid-column: 1;
        // }

        .competences-icons {
            grid-column: 1;

            @media (max-width: 925px) {

                grid-column: 2/4;
                grid-row: 3;
                align-self: end;
            }

        }

        .link-button {
            grid-column: 1;
            text-decoration: none;
            
            @media (max-width: 925px) {
                grid-column: 1;
                align-self: center;
            }

        }
    }
}

@media screen and (max-width: 1200px) {



    .introSection {
        margin: 0 4em;
        max-width: 90%;

        .intro-div {
            margin-right: 3em;
            margin-left: 3em;
            //padding-right: 2em;
        }
    }

}

@media screen and (max-width: 700px) {

    .introSection {
        margin: 0 4em;

        .intro-div {
            margin-right: 0;
            margin-left: 1em;
            padding-right: 1em;
            // width: 280px;
            width: 100%;
            max-width: 100%;
        }
    }

}

 @media screen and (max-width: 450px) {

//     .intro-div {
//         grid-row: 3;
//         grid-column: 1/4;
//     }
// }


.competences-icons {
    grid-row: 6;
    grid-column: 2/4;
    padding-left: 2em;
    font-size: 1em;
}


.link-button {
    grid-row: 6;
    grid-column: 1;
}

 }