@use '../style/colors' as *;

.link-button {
grid-column: 1;
grid-row: 3;
margin: 2em 0;
justify-self: center;

display: flex;
align-items: center;

background-color: $background-dark;
color:  $web-color;
border: 3px solid  $web-color;
box-shadow: 0px 2px 20px 2px $web-color;
padding: 0.5em 3em;
width: fit-content;
border-radius: 10px;
height: 3em;

    &:hover {
    cursor: pointer;
    background-color: $cv-color;
    color:  $background-dark;
    box-shadow: none;
    transform: scale(1.1); 
    transition: transform 0.3s ease-in;
    animation: grow-then-wiggle 0.8s ease forwards;
    }

}

@keyframes grow-then-wiggle {
  0% {
    transform: scale(1) rotate(0deg);
  }

  30% {
    transform: scale(1.2) rotate(0deg);
  }

  50% {
    transform: scale(1.2) rotate(5deg);
  }

  65% {
    transform: scale(1.2) rotate(-5deg);
  }

  80% {
    transform: scale(1.2) rotate(3deg);
  }

  100% {
    transform: scale(1.2) rotate(0deg);
  }
}


@media screen and (max-width: 450px) {
  
  .link-button {
    display: none;
  }
}