
.competences-icons {
    //grid-column: 1;
    //justify-self: center;

    display: grid;
    grid-template-columns: repeat(3,1em);
    gap: 1em;

    margin: 1em 0;
    font-size: 2.5em;
    justify-self: center;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 925px) {
        grid-column: 2/4;
        grid-row: 3;
    }
}

// @media (max-width: 925px) {
    
//     .competences-icons {
//     grid-column: 2/4;
//     grid-row: 3;
//     }

// }

@media screen and (max-width: 450px) {

    .competences-icons {
        font-size: 1.5em;
        margin-top: 2.5em;
    }

}