
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: end;

    margin: 0;
    padding-top: 11em;

    .header-icons {
        list-style: none;
        display: flex;
        gap: 2em;
        justify-content: center;
        margin-top: 10em;

        i {
            font-size: 3em;
        }
    }

    .contact-info {
        margin-bottom: 12em;
        line-height: 2;

        p {
            font-size: 24px;
        }
    }

    .profile-pixel {
        width: 60%;
        justify-self: end;
        margin-left: 20%;
        margin-top: -4em;
   
    }

}

@media screen and (max-width: 700px) {
    .footer {

        padding-top: 3em;
        .contact-info {
            margin-left: 1em;
        }

        .header-icons {
            margin-top: 2em;
        }

        .profile-pixel {
            width: 20%;
            justify-self: end;
            margin-left: 0;
            margin-top: 0; 
            bottom: 65px;
            position: fixed;
            right: 20px;
            text-align: center;
            z-index: 300;
        }
    }
}
