@use '../style/colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.headlines {
    color: $web-color;
    grid-column: 1;
    font-family: "Ubuntu", sans-serif;
    //margin-top: 5em;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 0em;
    grid-column: 1;

    // @media screen and (max-width: 1300px) {
    //     font-size: 42px;
    // }
}

h1 {
    // font-size: 56px;
    font-weight: 400;
    margin-top: 3em;
    margin-bottom: 1em;
    margin-right: 1em;
    //text-align: center;
    justify-self: center;

        @media screen and (max-width: 1300px) {
        font-size: 32px;
}
}



.pink {
    color: $ux-color;
}

.orange {
    color: $web-color;
}

.name {
    color: #dedfe0;
    font-size: 56px;
}

.purple {
    color: $about-color;
}

.green {
    color: $fineart-color;
}

@media screen and (max-width: 1300px) {

    .headlines {
        width: 85%;
        }
    
    }

    @media screen and (max-width: 450px) {

        .introSection {

            h1 {
                margin-top: 0;
            }

            // .profile-img {
            //     right: unset;
            //     top: 170px;
            // }
        }

        .headlines {
            display: grid;
        }

        h1 {
            font-size: 24px;
            justify-self: center;
        }
        
        
        // .name {
        //     // font-size: 42px;
        // }

    }