@import "../style/_colors.scss";

header {
    max-width: 80%;
    margin: 1.5em 3em;
    display: grid;
    //grid-template-columns: 2fr 2fr 1.8fr;
    grid-template-columns: 1fr;
    // justify-self: center;
    margin: 2em auto;

    ul {
        list-style: none;
    }

    .header-icons {
        color: #fff;
        display: flex;
        gap: 1em;
        grid-column: 2;
        grid-row: 1;
        justify-self: end;

        li {
            scale: 1.22;
        }

        a {
            color: #fff;
        }
    }


    h2 {
        color: $text-dark;
        font-weight: 350;
        line-height: 0.5;
        grid-column: 1/3;
        display: none;
    }

    .logo {
        width: 400px;
        max-width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 16px;
        margin-left: 0.5em;
    }

    .menu {
        grid-column: span 2;
        max-width: 100%;

        ul.menu-items {
            // width: 100%;
            // max-width: 100%;
            // display: grid;
            // grid-template-columns: repeat(5, auto);
            // gap: 1em;
            // padding: 0;
            // border-bottom: 1px solid #fff;
            // padding-bottom: 1em;
            // color: #000;

            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1em;
            padding-bottom: 1em;
            color: #000;
            background: #2c2c36;
            position: fixed;
            z-index: 10;
            padding-top: 1em;
            padding-right: 1em;
            border-radius: 15px;
            padding-left: 1em;
            box-shadow: 0px 0px 100px 2px #7BAFEE;

            li {
                padding: 0.4em 1em;
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 14px;
                // border-radius: 5px;

                li:hover {
                    cursor: pointer;
                }
            }

            .web {
                background-color: $web-color;
            }

            .ux {
                background-color: $ux-color;
            }

            .art {
                background-color: $fineart-color;
            }

            .cv {
                background-color: $cv-color;
            }

            .me {
                background-color: $about-color;
            }
        }
    }
}


@media screen and (max-width: 1200px) {

    header {
        max-width: 100%;
        margin: 2em;
    }

}

@media screen and (max-width: 900px) {
    header {
        .menu {
            ul.menu-items {

                  justify-self: center;

                li {
                    padding: 0.4em 0.3em;
                    font-size: 12px;
                  
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {

    header {
        .menu {
            margin-top: 0em;
            ul.menu-items {
                width: 100%;
                height: 65px;
                justify-self: center;
                bottom: 0;
                // display: flex;

                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                li {
                    padding: 0.2em 0.2em;
                    height: 35px;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    justify-self: center;
                }
            }
        }
    }
}

