@use '../style/colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.intro-div {
    width: 100%;
    //max-width: 40%;
    max-width: 100%;
    font-size: 16px;
    grid-column: 1;
    font-family: "inter Sans", sans-serif;
    font-style: italic;
    color: #dedfe0;
    font-weight: 500;
    line-height: 150%;
    // margin-left: 2em;
    margin: 3em 1em 2em;
    justify-self: center;
    

    @media (max-width: 700px) {
        grid-column: 2/4;
        text-align: right;
        margin: unset;
        margin-left: 4em;
        margin-right: 0;
        padding-right: 0;


        &:hover {
            &:hover {
                scale: unset;
                overflow: unset;
            }
        }
    }

    p {
    margin: 0.6em 0;
    }

    .read-cv {
        margin-top: 1em;
        line-height: 1;
    }

    &:hover {
        scale: 1.15;
        overflow: hidden;
    }

    a {
        color: $cv-color; //about-color
        font-style: normal;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;

    
    &:hover {
        cursor: pointer;
    }
    }

    .fa-angle-right {
        color: $cv-color;
        font-size: 18px;
    }

}
@media screen and (max-width: 700px) {
    .introSection {

            .profile-img {
                right: 25px;
                top: 130px;
            }
        }

    }


@media screen and (max-width: 450px) {


    .intro-div {
        margin-top: 3em;
        grid-row: 4;
        grid-column: 1/4;
        font-style: normal;
        font-weight: 600;
    }


    .competences-icons {
        grid-row: 6;
        grid-column: 2/4;
        justify-self: flex-end;
        font-size: 1em;
        
    }


    .link-button {
        grid-row: 6;
        grid-column: 1;
        display: none;
        margin-left: 1em;
    }

    .profile-img {
        grid-row: 3;
        scale: 1.2;
        overflow: hidden;

    }


}